#page-about {
  display: flex;
  justify-content: center;
  align-items: center;

  /* color: var(--color-text-in-primary); */
  background:  url("https://i.imgur.com/sQoYM0g.jpeg") no-repeat;
  background-size: 100% 100vh; 
  flex-direction:column;

}
.container{
  max-width: 972px;
  margin: 0 auto;
  width: 100%;
}

#page-about .container {
  max-width: 972px;
  margin: 0 auto;
  width: 100%;
}

#page-about-content h1 {
  margin: 38% 0 173px 0;
  font-size: 54px;
}

#page-about-content span{
  position: absolute;
  top: 550px;
  left: 660px;
}

#page-about-content p{
  margin-top: 20px;
  font-size: 22px;
  font-weight: 300;
  color: var(--text-color);
}

.card-component{
  max-width: 50%;
  display: flex;
}

#page-about .container #page-about-content h1 {
  margin: 38% 0 173px 0 ;
  font-size: 54px;
}

#page-about .container #page-about-content span {
  position: absolute;
  top: 550px;
  left: 660px;
}

#page-about .container #page-about-content p {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 300;
  color: var(--text-color);
}

#page-about .container .card-component { 
  max-width:80%;

  display:flex;
  flex-direction:row;
  justify-content:center;
}
#page-about .container .card-unique { 
  display:grid;
  grid-template-columns: repeat(4,1fr);
}

#page-about .container .card-unique > div { 
  margin:22px;
}





