.cardContainer { 
  flex: 1;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  background-color: #1f1f1f; 
  padding: 36px;
  border-radius: 10px;
  width: 216px;
  height: 216px;
 }

.cardContainer img { 
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 12px;
}

.cardContainer p { 
  color: #666666;
}

