.footer{
    margin-top: 30px;
    padding: 40px 0;
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.footer #container{
    width: 100%;
    max-width: 972px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

.footer #container .footer-column1{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5vh 0;
}

.footer #container .footer-content1, .footer-content2 {
    display: flex;
    flex-direction: column;
    gap: 2.9vh;
}

.footer #container a{
    font-family: Roboto;
    font-size: 2.3vh;
    font-weight: bold;
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing: 0.3vw;
    transition: 0.2s;
}

.footer #container a:hover {
    filter: opacity(80%);
}

.footer #container .footer-column2 .footer-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer #container .footer-column3 .social{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.footer #container .footer-column3 .social .icons-social{
    display: flex;
    gap: 15px;
}

.footer #container .footer-column3 .social .icons-social img{
    width: 50px;
}

.footer #container .footer-column3 .social .back a img{
    padding: 1px;
    background-color: #1F1F1F;
    border-radius: 5px;
}