.footer{
    margin-top: 30px;
    padding: 40px 0;
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

#container{
    width: 100%;
    max-width: 972px;
    margin: 0 auto;
}

.footer-column1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-content1 h3{
    font-family: Roboto;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.footer-content2 h3{
    font-family: Roboto;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.footer-column2{
    margin-top: 60px;
}

.footer-content h3{
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 15px;
}

.footer-column3{
    margin-top: 60px;
}

.footer-column3 .social{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.footer-column3 .social .icons-social a{
    margin-right: 20px;
}

.footer-column3 .social .back a img{
    padding: 10px 15px;
    background-color: #1F1F1F;
    border-radius: 5px;
}